.mySwiper {
  z-index: 0 !important;
}
@media only screen and (min-width: 768px) {
  .mySwiper {
    margin-top: 40px;
    width: 95%;
    height: 35%;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .mySwiper {
    width: 100%;
    height: 5%;
  }
}
